@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family:  sans-serif, "Roboto", system-ui, Avenir, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: white;
}

.agray {
  color: #919191
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  background-color: #CB972D;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  background-color: #CB972D;
}

button:hover {

  background-color: #916500;
}
button:focus,
button:focus-visible {
  background-color: #916500;
}
button.rojo {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  background: #6C1313;
}
button.rojo:hover {
  background-color: #5a0f0f;
}
button.rojo:focus,
button.rojo:focus-visible {
  background-color: #5a0f0f;
  outline: none;
  box-shadow: 0 0 0 2px rgba(108, 19, 19, 0.5);
}
button.rojo:active {
  background-color: #4a0c0c;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari y Opera */
}

.NavLink{
  color: #6C1313;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: white;
  }
  button {

    background-color: #CB972D;
  }
  button.rojo {
    background-color: #6C1313;
  }
}
